
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    width: 100%;
  }

.wrapperr{
    box-sizing: content-box;
    background-color: black;
    height: 140px;
    display: flex;
    
  }
  
  .wordss{
    overflow: hidden;
  }
  
  .wrapperr span{
    display: block;
    height: 140%;
    padding-left: 2px;
    /* border: 1px solid white; */
    animation: spin_words 6s infinite;
    
  }
  
  @keyframes spin_words{
    10% {
       transform: translateY(-112%);
    }
    25% {
       transform: translateY(-100%);
    }
    35% {
       transform: translateY(-212%);
    }
    50% {
       transform: translateY(-200%);
    }
    60% {
      transform: translateY(-312%);
    }
    75% {
      transform: translateY(-300%);
    }
    85% {
       transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
  }
  